<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.perfectplay.com.lolspeak" >

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme"
        >
        <activity
            android:theme="@android:style/Theme.NoTitleBar"
            android:name=".LoginActivity"
            android:label="@string/app_name"
            android:windowSoftInputMode="stateHidden" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:theme="@android:style/Theme.NoTitleBar"
            android:name=".MainMenu"
            android:label="@string/title_activity_main_menu" >
        </activity>
        <activity
            android:name=".GameInfo"
            android:label="@string/title_activity_game_info" >
        </activity>
        <activity
            android:name=".GameInfoActivities.ChampionList"
            android:label="@string/title_activity_champion_list"
            android:parentActivityName=".GameInfo" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="org.perfectplay.com.lolspeak.GameInfo" />
        </activity>
        <activity
            android:name=".GameInfoActivities.ItemList"
            android:label="@string/title_activity_item_list"
            android:parentActivityName=".GameInfo" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="org.perfectplay.com.lolspeak.GameInfo" />
        </activity>
        <activity
            android:name=".GameInfoTabbed"
            android:label="@string/title_activity_game_info_tabbed" >
        </activity>
        <activity
            android:name=".GameInfoActivities.ChampionInfo"
            android:label="@string/title_activity_champion_info" >
        </activity>
        <activity
            android:theme="@android:style/Theme.NoTitleBar"
            android:name=".ChatActivity"
            android:label="@string/title_activity_chat" >
        </activity>
        <activity
            android:name=".SummonerReview"
            android:label="@string/title_activity_summoner_review" >
        </activity>
        <activity
            android:theme="@android:style/Theme.NoTitleBar"
            android:name=".RosterActivity"
            android:label="@string/title_activity_roster" >
        </activity>

        <meta-data android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
    </application>

    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

</manifest>
